.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.lp-background {
    position: relative;
    height: 100vh;
    background-image: url("./images/landing_page_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.lp-content {
    position: absolute;
    color: white;
    z-index: 1;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}


.lp-place-holder {
    position: absolute;
    color: white;
    z-index: 2;
    top: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 600px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;

}

.lp-slide-holder {
    position: relative;
}

/*.lp-place-wrapper {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    list-style: none;*/
/*    left: 10px;*/
/*}*/


.lp-slide {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: transparent;
    min-width: 560px;
    min-height: 230px;
    margin: 10px;
    border: 2px solid rgba(252, 186, 3, 1);
    border-radius: 3px;
}

.slide-mid a {
    color: white;
    text-decoration: none;
}

.slide-left {
    flex: 3;
}

.slide-mid {
    flex: 4;
}

.slide-right {
    flex: 2;
}

.city-list-wrapper {
    position: absolute;
    top: 110%;
    left: 2%;
    z-index: 2;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 26%;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0 0 0;
}

#city-list-header {
    margin: 0 0 10px 0;
}

.city-holder {
    text-align: left;
    padding: 10px 10px 0 10px;

}
.restaurant-item {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.5);
    padding: 0 10px 10px 10px;
    margin: 5px 0 5px 0;
    border-radius: 4px;
}

#restaurant-item-header {
    margin: 10px 0 0 0;
}

#restaurant-item-body {
    margin: 0;
}

.times-wrapper {
    position: absolute;
    top: 105%;
    left: 30%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 45%;
}

.times-holder {
    margin: 0 20px 0 20px;
    color: white;
}


.mylist-wrapper {
    position: absolute;
    top: 110%;
    left: 78%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 20%;
    min-height: 800px;
}

.slider-style {
    color: white;
}

.dropdown-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown-city-holder, .dropdown-day-holder, .dropdown-time-holder {
    cursor: pointer;
}

.dd-city-wrapper, .dd-day-wrapper, .dd-time-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color: black;
    z-index: 3;
    min-width: 130px;
    position: absolute;

}

.dd-btn {
    background-color: transparent;
    border: 0 white;
    height: 30px;
    text-align: left;
    width: auto;
}

.dd-btn:hover {
    background-color: rgba(0,0,0,0.1);
}